<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>unach</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta name="author" content="Videojuegos & Desarrollo">
        <meta name="description" content="Muestra de un formulario de acceso en HTML y CSS">
        <meta name="keywords" content="Formulario Acceso, Formulario de LogIn">
        
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
        
</head>
<body>
    <header style="background-color: #022B61; border-bottom: 3px solid #D2A92D">
            

        <div class="container">

            <div class="row align-content-center">
                <div class=" col">
                    <a href="">
                        <img src="../imagenes/logo.png" width="80%">
                    </a>
                </div>

                <div class="col-2">
                    <a href="https://www.unach.mx/">
                        <img src="../imagenes/Escudo_unach.png" width="150px">
                    </a>
                </div>
            </div>

        </div><div class="row align-content-center" style="background-color: #2e578c;">
        </div>
    </header>

	<!-- wea de login -->
	<section class="form-login">
		<h5>inicio de sesion</h5>
		<input class="controls" type="text" name="usuario" value="" placeholder="usuario">
		<input class="controls" type="password" name="contraseña" value="" placeholder="contraseña">
		<input class="buttons"  type="submit" name="" value="ingresar">
		<p><a href="#"> ¿olvidaste tu contraseña?</a>
			</p>
	</section>
</body>
</html>



